@model TestCases.Models.TestCase

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TestCase</h4>
<hr />
<div class="row">
    <div>
        <form asp-action="Edit">
            @Html.Partial("/Views/PartialViews/TestCaseForm.cshtml", Model)
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
